[ready="true"] #video
    margin-bottom: 100px
    
    #videoPlayer
        display: flex

    #dropSurface
        display: none
        
#video
    display: flex
    flex-direction: column

    .video-wrapper
        flex: 1
        display: flex

    #dropSurface
        flex: 1
        display: flex
        justify-content: center
        align-items: center
        font-size: 3em
        text-transform: uppercase
        font-weight: bold
        background-color: #282828
    
    #videoPlayer
        display: none
        align-items: center
        background-color: #222222